Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env*.local
.vercel
.next
.git
.gitignore
*.md
.vscode
.idea
*.xlsx
*.xls
*.csv
*.json
*.yaml
*.yml
*.txt
*.log
*.error
*.warn
*.info
